CMakeCache.txt
CMakeFiles
build
Makefile
cmake_install.cmake
*.swp
*.swo
cscope.out
misc/tools/tls/tls_certs/saved_session
tags
types_c.taghl
types_py.taghl
misc/doc/api_doc/generated
*-eps-converted-to.pdf
vim_proj.conf
