CMakeCache.txt
CMakeFiles
build
Makefile
libflea_stm32f4.a
cmake_install.cmake
test/flea_test_stm32f4.elf
test/stm32f4.map
*.swp
libflea_lpc1768.a
cscope.out
misc/tools/tls/tls_certs/saved_session
tags
types_c.taghl
types_py.taghl
misc/doc/flea_manual/flea_manual.aux
misc/doc/flea_manual/flea_manual.log
misc/doc/flea_manual/flea_manual.out
misc/doc/flea_manual/flea_manual.pdf
misc/doc/flea_manual/flea_manual.toc
misc/doc/flea_manual/texput.log
misc/doc/flea_manual/cs_logo-eps-converted-to.pdf
misc/doc/api_doc/generated
misc/run
*-eps-converted-to.pdf
